examples/school.aux
examples/school.bbl
examples/school.bcf
examples/school.blg
examples/school.log
examples/school.out
examples/school.ptc
examples/school.run.xml
examples/felsenkatze.pdf
examples/output.aux
examples/output.bbl
examples/output.bcf
examples/output.blg
examples/output.log
examples/output.out
examples/output.run.xml
